---
import BlogLayout from "@/components/layouts/BlogLayout.astro";
import Button from "@/components/ui/Button.astro";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const { slug } = Astro.params;

const post: CollectionEntry<"blog"> | undefined = await getEntry(
  "blog",
  slug as string
);

// Render the content
const { Content } = post ? await post.render() : { Content: null };

const formatDate = (date: Date) => {
  const month = date.getMonth() + 1;
  const day = date.getDate();
  const year = date.getFullYear();
  return `${month}-${day}-${year}`;
};
---

<BlogLayout id={post?.slug}>
  <div class="pt-4 pl-4 flex justify-between items-start">
    <Button
      href="/blog"
      text="Back to Blog Posts"
      class="bg-[#7F0201] hover:bg-[#A52A2A] text-white font-bold py-1.5 px-3 rounded-xl no-underline"
      data-astro-prefetch
    />
  </div>

  <div class="pt-8">
    <h1>{post?.data.title}</h1>
    <img src="https://placehold.co/320x210" alt="Hashtag photo" />
  </div>
  <time class="font-bold"
    >{post ? formatDate(post.data.publishDate) : "Date not available"}</time
  >
  <div class="flex space-x-1">
    {
      post?.data.tags.map((tag) => (
        <button class="bg-[#7F0201] hover:bg-[#A52A2A] text-white text-sm tracking-narrow px-2 rounded-xl">
          {tag}
        </button>
      ))
    }
  </div>
  <article>
    {Content ? <Content /> : <p>Content not available</p>}
  </article>
</BlogLayout>

<style>
  html {
    max-width: 2136px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    scroll-behavior: smooth;
  }
</style>

<script>
  document.getElementById("go-back")?.addEventListener("click", () => {
    history.back();
  });
</script>
