---
import BlogLayout from "@/components/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Use the defined schema in content/config.ts to ensure type safety
const posts: CollectionEntry<"blog">[] = await getCollection("blog");

// Utility function to format the date to MM-DD-YYYY without leading zero
const formatDate = (date: Date) => {
  const month = date.getMonth() + 1; // Months are 0-indexed
  const day = date.getDate();
  const year = date.getFullYear();
  return `${month}-${day}-${year}`;
};
---

<BlogLayout id="blog-home">
  <div class="flex pt-3 pl-4">
    <button
      id="go-back"
      class="bg-[#7F0201] hover:bg-[#A52A2A] text-white font-bold py-2 px-4 rounded-xl"
      >Go Back</button
    >
  </div>

  <ul>
    {
      posts.map((post) => (
        <div class="">
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a> -{" "}
          <time>{formatDate(post.data.publishDate)}</time>
          <p>{post.data.tags}</p>
          <p>{post.data.description}</p>
        </div>
      ))
    }
  </ul>
</BlogLayout>

<script>
  document.getElementById("go-back")?.addEventListener("click", () => {
    history.back();
  });
</script>
