---
import BlogPostCard from "../ui/BlogPostCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Button from "../ui/Button.astro";
import brassSidebar from "../../assets/brass-sidebar.webp";
import recentBlogPostsLogo from "../../assets/recent-blog-posts.webp";

// Fetch all blog posts and ensure type safety
const posts: CollectionEntry<"blog">[] = await getCollection("blog");

// Sort posts by publish date (most recent first)
const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime()
  );
});

// Use a Set to ensure uniqueness by slug
const uniquePosts = Array.from(new Set(sortedPosts.map((post) => post.slug)))
  .map((slug) => sortedPosts.find((post) => post.slug === slug))
  .filter((post): post is CollectionEntry<"blog"> => post !== undefined); // Filter undefined values

// Take the first 3 unique posts (adjust the number as needed)
const recentPosts = uniquePosts.slice(0, 3);
---

<section class="flex-col mx-10 px-4 my-8 lg:my-20 drop-shadow-2xl">
  <div class="left col-1">
    <img
      src={brassSidebar.src}
      alt="Brass sidebar"
      class="hidden min-[900px]:block absolute bottom-36 left-0 min-[900px]:-ml-4 lg:ml-0 min-[1150px]:ml-8 xl:ml-20 2xl:ml-32 min-[1700px]:ml-64 min-[1900px]:ml-80 h-[600px] lg:h-[750px] drop-shadow-2xl w-auto object-contain transform -scale-x-100"
    />
  </div>

  <div class="center col-1">
    <img
      src={recentBlogPostsLogo.src}
      alt="Recent Blog Posts logo"
      class="h-[150px] md:h-[180px] lg:h-[235px] w-auto mx-auto mb-6"
    />

    <div
      class="grid grid-cols-1 place-items-center gap-4 xl:flex-row xl:mx-24 justify-center items-center pb-10"
    >
      {recentPosts.map((post) => <BlogPostCard post={post} key={post.slug} />)}
    </div>

    <div
      class="flex flex-1 justify-center font-bold text-xl lg:text-2xl tracking-wider"
    >
      <Button
        transition:animate="slide"
        text="View More Posts"
        href="/blog"
        class="bg-[#7F0201] hover:bg-[#A52A2A] text-white font-bold py-2 px-4 mb-8 rounded-xl"
        data-astro-prefetch
      />
    </div>
  </div>

  <div class="right col-1">
    <img
      src={brassSidebar.src}
      alt="Brass sidebar"
      class="hidden min-[900px]:block absolute bottom-36 right-0 min-[900px]:-mr-4 lg:mr-0 min-[1150px]:mr-8 xl:mr-20 2xl:mr-32 min-[1700px]:mr-64 min-[1900px]:mr-80 h-[600px] lg:h-[750px] drop-shadow-2xl w-auto object-contain"
    />
  </div>
</section>
