---
import ContactForm from "../ui/ContactForm.jsx";
import { getStoreHours } from "../../constants/StoreInfo.astro";

import Map from "../ui/Map.astro";

const storeHours = getStoreHours();

function convertTo12Hour(time24: string) {
  const [hours] = time24.split(":");
  let period = "AM";
  let hours12 = parseInt(hours, 10);

  if (hours12 >= 12) {
    period = "PM";
    if (hours12 > 12) {
      hours12 -= 12;
    }
  }
  if (hours12 === 0) {
    hours12 = 12;
  }

  return `${hours12}${period}`;
}
---

<section class="flex flex-1 justify-center p-32 bg-[#FFC66D] min-h-[750px]">
  <div class="flex-1 text-center my-auto">
    <h3 class="font-bold text-3xl pb-3 tracking-widest">Store Hours</h3>
    {
      Object.entries(storeHours).map(([day, hours]) => (
        <div class="flex text-xl justify-center">
          {day}: {convertTo12Hour(hours.open)} to {convertTo12Hour(hours.close)}
        </div>
      ))
    }

    <h3 class="font-bold text-3xl pt-10 tracking-widest">
      Have Any Questions?
    </h3>
    <div class="flex flex-1 text-3xl pt-8 justify-center">
      <ContactForm client:load />
    </div>
  </div>

  <div class="flex flex-1 justify-center">
    <Map />
  </div>
</section>
