---
import OpenStatus from "./OpenStatus.astro";
import Links from "./Links.astro";
import { getStoreInfo } from "../../constants/StoreInfo.astro";

import MobileDetect from "mobile-detect";

import phone from "../../assets/phone.png";
import mapPin from "../../assets/map-pin.png";
import openSignBackground from "../../assets/openclose.png";

const phoneNumber = getStoreInfo().phoneNumber;
const address = getStoreInfo().address;

const userAgent = Astro.request.headers.get("user-agent") ?? "";
const md = new MobileDetect(userAgent);
const isMobile = md.mobile();
---

<section
  class="flex w-full min-h-[35px] mx-auto px-4 xl:px-10 pt-3 xl:pt-6 min-[1340px]:pt-6 pb-2 xl:pb-5 bg-[#FFC66D]"
>
  <div
    class="flex-1 min-[980px]:max-w-base max-[1024px]:max-w-[316px] 2xl:ml-16 min-[1800px]:ml-36 min-[2100px]:ml-72 min-[2300px]:ml-96 xl:pl-0 sm:pt-2 lg:pt-0 space-y-2 lg:space-y-1 xl:space-y-0 xl:flex xl:flex-nowrap font-bold text-sm lg:text-lg"
  >
    <div transition:persist class="flex items-center md:pl-4 xl:pl-0">
      <img
        src={phone.src}
        alt="phone"
        class="pr-2 h-[16px] sm:h-[20px] xl:h-[32px]"
      />
      {
        isMobile ? (
          <a
            href={`tel:${phoneNumber}`}
            class="max-[1150px]:w-[120px] max-[1280px]:w-[128px] xl:tracking-wide"
          >
            {phoneNumber}
          </a>
        ) : (
          phoneNumber
        )
      }
    </div>

    <div transition:persist class="flex items-center md:pl-4 xl:pl-0">
      <img
        src={mapPin.src}
        alt="GPS Pin"
        class="pr-2 min-[1280px]:pl-3 h-[16px] sm:h-[20px] xl:h-[34px]"
      />
      <a
        href="https://www.google.com/maps/place/P+T+Pet+Supply/@42.0714526,-71.8662691,17z/data=!3m1!4b1!4m6!3m5!1s0x89e41ed7234c136d:0xe30644b400274c0!8m2!3d42.0714526!4d-71.8662691!16s%2Fg%2F1tt1tq6m?entry=ttu&g_ep=EgoyMDI0MDkxNi4wIKXMDSoASAFQAw%3D%3D"
        class="text-sm lg:text-lg xl:tracking-wide">{address}</a
      >
    </div>
  </div>

  <!-- Flex container for centering -->
  <div class="relative flex flex-1 justify-center items-center">
    <img
      src={openSignBackground.src}
      alt="Open/Close Sign Background"
      style="width: 195px; height: auto;"
      class="absolute top-0 left-1/2 transform -translate-x-1/2 min-[385px]:mt-1 min-[420px]:mt-0 min-[500px]:-mt-1 min-[535px]:-mt-1.5 min-[580px]:-mt-2.5 sm:-mt-1 xl:-mt-5"
    />
    <OpenStatus
      transition:persist
      class="absolute inset-0 flex justify-center items-center"
    />
  </div>

  <div
    class="flex-1 flex justify-end my-auto 2xl:mr-16 min-[1800px]:mr-36 min-[2100px]:mr-72 min-[2300px]:mr-96"
  >
    <Links class="flex" />
  </div>
</section>

<!-- Client-side script for handling smallScreen -->
<script>
  const updateLinksForSmallScreen = () => {
    const mobileScreen = window.innerWidth < 768;
    const addressElement = document.querySelector(
      'a[href^="https://www.google.com/maps"]'
    ) as HTMLElement;

    if (addressElement) {
      // Update addressElement text based on screen size
      addressElement.innerText = mobileScreen
        ? "Visit Us"
        : "86 Worcester Rd, Webster";
    }
  };

  // Listen for resize events to update dynamically
  window.addEventListener("resize", updateLinksForSmallScreen);
  window.addEventListener("DOMContentLoaded", updateLinksForSmallScreen); // Initial check on load
</script>
