---
import OpenStatus from "./OpenStatus.astro";
import Links from "./Links.astro";
import { getStoreInfo } from "../../constants/StoreInfo.astro";

import phone from "../../assets/phone.png";
import mapPin from "../../assets/map-pin.png";
import openSignBackground from "../../assets/openclose.png";

const phoneNumber = getStoreInfo().phoneNumber;
const address = getStoreInfo().address;
---

<section
  class="flex w-full min-h-[35px] font-bold mx-auto px-4 xl:px-10 pt-3 xl:pt-6 pb-2 xl:pb-5 bg-[#FFC66D]"
>
  <div
    class="my-auto flex-1 flex items-start xl:items-center text-sm lg:text-lg xl:pl-0 pt-1 -mr-10 2xl:ml-16"
  >
    <!-- Phone Section -->
    <a
      href={`tel:${phoneNumber}`}
      class="pl-2 min-[450px]:pl-3 pr-1 sm:pr-2 sm:mt-0.5 xl:-mt-1 h-[16px] sm:h-[20px] xl:h-[32px]"
    >
      <img src={phone.src} alt="phone" class="h-full animate-fadeInScale" />
    </a>

    <a href={`tel:${phoneNumber}`} class="max-w-[125px] sm:text-lg">
      <span class="xl:hidden">Call</span>
      <span class="hidden xl:inline">{phoneNumber}</span>
    </a>

    <!-- Address Section -->
    <a
      href="https://www.google.com/maps/place/P+T+Pet+Supply/@42.0714526,-71.8662691,17z"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center sm:text-lg"
    >
      <img
        src={mapPin.src}
        alt="GPS Pin"
        class="-mt-1 pl-2 sm:pl-3.5 pr-1 sm:pr-2 h-[16px] sm:h-[20px] xl:h-[34px] animate-fadeInScale"
      />
      <span class="xl:hidden">Visit</span>
      <span class="hidden xl:inline">{address}</span>
    </a>
  </div>

  <!-- Center Open/Close Sign -->
  <div class="relative m-auto mx-10 flex-1 flex justify-center items-center">
    <img
      src={openSignBackground.src}
      alt="Open/Close Sign Background"
      class="absolute top-0 left-1/2 transform -translate-x-1/2 pb-1 -mt-3 min-[460px]:-mt-3.5 min-[500px]:-mt-4 min-[575px]:-mt-5 sm:-mt-6"
      style="width: 195px; height: auto;"
    />
    <OpenStatus class="absolute inset-0 flex justify-center items-center" />
  </div>

  <!-- Links Section -->
  <div class="flex-1 flex justify-end items-center -ml-10 2xl:mr-16">
    <Links class="flex" />
  </div>
</section>

<style>
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .animate-bounce {
    animation: bounce 0.5s; /* Adjust the duration as needed */
  }
</style>
