---
import OpenStatus from "./OpenStatus.astro";
import Links from "./Links.astro";
import { officialStoreInfo } from "../../constants/storeInfo";

import phone from "../../assets/phone.webp";
import mapPin from "../../assets/map-pin.webp";
import openSignBackground from "../../assets/openclose.webp";

const phoneNumber = officialStoreInfo().phoneNumber;
const address = officialStoreInfo().address;
---

<section
  class="flex w-full min-h-[58px] min-[500px]:min-h-[66px] min-[580px]:min-h-[72px] font-bold mx-auto px-4 xl:px-12 min-[1650px]:px-32 2xl:px-18 pt-2 xl:pt-6 pb-1 xl:pb-5 bg-[#FFC66D]"
>
  <div
    class="my-auto flex-1 flex items-start xl:items-center text-sm font-bold min-[520px]:text-lg xl:pl-0 pt-1 -mr-10 2xl:ml-16"
  >
    <!-- Phone Section -->
    <a
      href={`tel:${phoneNumber}`}
      class="pl-2 min-[450px]:pl-3 pr-1 sm:pr-2 sm:mt-0.5 min-[520px]:mt-1 xl:-mt-1 h-[16px] sm:h-[20px] xl:h-[32px]"
    >
      <img src={phone.src} alt="phone" class="h-full" />
    </a>

    <a href={`tel:${phoneNumber}`} class="max-w-[125px] sm:text-lg">
      <span class="xl:hidden">Call</span>
      <span class="hidden xl:inline">{phoneNumber}</span>
    </a>

    <!-- Address Section -->
    <a
      href="https://www.google.com/maps/place/P+T+Pet+Supply/@42.0714526,-71.8662691,17z/data=!4m6!3m5!1s0x89e41ed7234c136d:0xe30644b400274c0!8m2!3d42.0714526!4d-71.8662691!16s%2Fg%2F1tt1tq6m?entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center sm:text-lg"
    >
      <img
        src={mapPin.src}
        alt="GPS Pin"
        class="-mt-1 pl-2 sm:pl-3.5 pr-1 sm:pr-2 h-[16px] sm:h-[20px] xl:h-[34px]"
      />
      <span class="xl:hidden">Visit</span>
      <span class="hidden xl:inline">{address}</span>
    </a>
  </div>

  <!-- Center Open/Close Sign -->
  <div class="relative m-auto mx-14 flex-1 flex justify-center items-center">
    <OpenStatus class="absolute inset-0 flex justify-center items-center" />
    <img
      src={openSignBackground.src}
      alt="Open/Close Sign Background"
      class="absolute top-0 left-1/2 transform -translate-x-1/2 pb-1 -mt-2 min-[370px]:-mt-2.5 min-[430px]:-mt-3 min-[470px]:-mt-3.5 min-[500px]:-mt-4 min-[575px]:-mt-5 sm:-mt-6"
      style="width: 195px; height: auto;"
    />
  </div>

  <!-- Links Section -->
  <div class="flex-1 flex justify-end items-center -ml-10 2xl:mr-16">
    <Links class="flex" />
  </div>
</section>
