---
import type { CollectionEntry } from "astro:content";

const { post }: { post?: CollectionEntry<"blog"> } = Astro.props;

const formatDate = (date: Date) => {
  const month = date.getMonth() + 1; // Months are 0-indexed
  const day = date.getDate();
  const year = date.getFullYear();
  return `${month}•${day}•${year}`;
};

const postDescription = post ? post.data.description : "";
const postTitle = post ? post.data.title : "";
const postDate = post ? formatDate(post.data.publishDate) : "";
---

<section class="flex-col-1 my-auto ml-6">
  <a href={`/blog/${post?.slug}/`}>
    <div
      class="relative w-[300px] min-h-[130px] sm:w-[410px] sm:h-[180px] md:w-[500px] 2xl:w-[600px] md:h-[170px] flex py-5 rounded-3xl bg-gradient-to-br from-[#f9dcb157] to-[#ffc76d81]"
      style={{ backdropFilter: "blur(35px)" }}
      onclick="window.location.href = `/blog/${post?.slug}/`"
    >
      <div class="absolute top-6 -left-9 md:top-3 md:-left-5">
        <img
          src="https://placehold.co/350x350/png"
          alt="Blog tag photo"
          class="w-[90px] 2xl:w-[115px] h-auto rounded-2xl"
        />
      </div>

      <div class="ml-14 md:ml-20 2xl:ml-24 px-4">
        <div>
          <h1 class="font-bold text-xl">{postTitle}</h1>
          <h2 class="py-1 text-[#452B1F] flex-grow line-clamp-3 mb-2">
            {postDescription}
          </h2>
        </div>
        <p class="absolute bottom-1 right-4 font-bold text-[#7F0201]">
          {postDate}
        </p>
      </div>
    </div>
  </a>
</section>
