---
interface Props {
  text: string;
  href?: string;
  type?: "button" | "submit" | "reset";
  className?: string;
}

const { text, href, type = "button", className = "" } = Astro.props;
---

{href ? (
  <a href={href} class={`button ${className}`}>
    {text}
  </a>
) : (
  <button type={type} class={`button ${className}`}>
    {text}
  </button>
)}

<style>

</style>