---
interface ButtonProps {
  text: string;
  href?: string;
  type?: "button" | "submit" | "reset";
  class?: string;
}

const {
  text,
  href,
  type = "button",
  class: className = "",
} = Astro.props as ButtonProps;
---

{
  href ? (
    <a href={href} class={`button ${className}`}>
      {text}
    </a>
  ) : (
    <button type={type} class={`button ${className}`}>
      {text}
    </button>
  )
}
